.row{
  margin-top:6%;
  /* margin-left:25%;
  margin-right:25%; */
}

/* .ng-invalid.ng-touched{
border-color:red;
}

.error-block{
  color:red;
} */
/* .code{
  background-color: rgb(202, 204, 202);
} */
